.waterfalling{
    position: fixed;
    top: 0;
    right: 50%;
    width: 25%;
    height: 0;
    z-index: -9;
    background-color: rgb(34, 53, 53);
    animation: 4s waterfalling linear alternate;

}
@keyframes waterfalling {
    0% {
        height: 0;
    }
    50% {
        width: 30%;
        height: 50%;
    }
    100% {
        width: 25%;
        height: 100%;
    }
}